LAB.ZH.SNMP.D/LAb.ZH.SNMP.Win/Service References/ServiceReference1/EasySnmp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EasySnmp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:33895/ZhEasySnmp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:33895/ZhEasySnmp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZhEasySnmp_SearchManage_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchManage" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_SearchManage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchManageResponse" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_UpadteInit_InputMessage">
    <wsdl:part name="parameters" element="tns:UpadteInit" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_UpadteInit_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpadteInitResponse" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_SearchSwitch_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSwitch" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_SearchSwitch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSwitchResponse" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_SearchTp_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchTp" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_SearchTp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchTpResponse" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_GetServerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfo" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_GetServerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_gets_InputMessage">
    <wsdl:part name="parameters" element="tns:gets" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_gets_OutputMessage">
    <wsdl:part name="parameters" element="tns:getsResponse" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_alter_InputMessage">
    <wsdl:part name="parameters" element="tns:alter" />
  </wsdl:message>
  <wsdl:message name="ZhEasySnmp_alter_OutputMessage">
    <wsdl:part name="parameters" element="tns:alterResponse" />
  </wsdl:message>
  <wsdl:portType name="ZhEasySnmp">
    <wsdl:operation name="SearchManage">
      <wsdl:input wsaw:Action="http://tempuri.org/ZhEasySnmp/SearchManage" message="tns:ZhEasySnmp_SearchManage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ZhEasySnmp/SearchManageResponse" message="tns:ZhEasySnmp_SearchManage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpadteInit">
      <wsdl:input wsaw:Action="http://tempuri.org/ZhEasySnmp/UpadteInit" message="tns:ZhEasySnmp_UpadteInit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ZhEasySnmp/UpadteInitResponse" message="tns:ZhEasySnmp_UpadteInit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ZhEasySnmp/GetCount" message="tns:ZhEasySnmp_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ZhEasySnmp/GetCountResponse" message="tns:ZhEasySnmp_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSwitch">
      <wsdl:input wsaw:Action="http://tempuri.org/ZhEasySnmp/SearchSwitch" message="tns:ZhEasySnmp_SearchSwitch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ZhEasySnmp/SearchSwitchResponse" message="tns:ZhEasySnmp_SearchSwitch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchTp">
      <wsdl:input wsaw:Action="http://tempuri.org/ZhEasySnmp/SearchTp" message="tns:ZhEasySnmp_SearchTp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ZhEasySnmp/SearchTpResponse" message="tns:ZhEasySnmp_SearchTp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ZhEasySnmp/GetServerInfo" message="tns:ZhEasySnmp_GetServerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ZhEasySnmp/GetServerInfoResponse" message="tns:ZhEasySnmp_GetServerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gets">
      <wsdl:input wsaw:Action="http://tempuri.org/ZhEasySnmp/gets" message="tns:ZhEasySnmp_gets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ZhEasySnmp/getsResponse" message="tns:ZhEasySnmp_gets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="alter">
      <wsdl:input wsaw:Action="http://tempuri.org/ZhEasySnmp/alter" message="tns:ZhEasySnmp_alter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ZhEasySnmp/alterResponse" message="tns:ZhEasySnmp_alter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ZhEasySnmp" type="tns:ZhEasySnmp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchManage">
      <soap:operation soapAction="http://tempuri.org/ZhEasySnmp/SearchManage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpadteInit">
      <soap:operation soapAction="http://tempuri.org/ZhEasySnmp/UpadteInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/ZhEasySnmp/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSwitch">
      <soap:operation soapAction="http://tempuri.org/ZhEasySnmp/SearchSwitch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTp">
      <soap:operation soapAction="http://tempuri.org/ZhEasySnmp/SearchTp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <soap:operation soapAction="http://tempuri.org/ZhEasySnmp/GetServerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gets">
      <soap:operation soapAction="http://tempuri.org/ZhEasySnmp/gets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alter">
      <soap:operation soapAction="http://tempuri.org/ZhEasySnmp/alter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EasySnmp">
    <wsdl:port name="BasicHttpBinding_ZhEasySnmp" binding="tns:BasicHttpBinding_ZhEasySnmp">
      <soap:address location="http://localhost:33895/ZhEasySnmp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>